services:
  backend:
    build: ./backend
    image: backend
    command: uv run uvicorn app.main:app --host localhost --port 8000 --reload
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    environment:
      PYTHONUNBUFFERED: 1
