# Example Terraform variables file
# Copy this file to terraform.tfvars and adjust values as needed

project_name = "predictor-model"
environment  = "dev"
aws_region   = "us-east-1"

vpc_cidr           = "10.0.0.0/16"
availability_zones = ["us-east-1a", "us-east-1b"]

container_port   = 8000
container_cpu    = 512
container_memory = 1024

desired_count = 1
min_capacity  = 1
max_capacity  = 2

cors_origins = [
  "http://localhost:5173",
  "https://main.d12abg5dtejald.amplifyapp.com",
  "https://develop.d12abg5dtejald.amplifyapp.com"
]

tags = {
  Project   = "AI-Predictor"
  ManagedBy = "Terraform"
  Team      = "DevOps"
}

